<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MLB Odds</title>
  </head>
  <body>
    <div>
      <header>
        <h1>MLB Home Run Odds</h1>
        <p>{{today_date}}</p>
      </header>
      <main>
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>Fanduel</th>
              <th>DraftKings</th>
              <th>BetMGM</th>
            </tr>
          </thead>
          <tbody>
            {% for player in events['fanduel'].keys() %}
            <tr>
              <td>{{ player }}</td>
              <td>{{ events['fanduel'].get(player, 'N/A')}}</td>
              <td>{{ events['draftkings'].get(player, 'N/A')}}</td>
              <td>{{ events['betmgm'].get(player, 'N/A')}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{{ url_for('mlb_schedule.show_schedule') }}"
          >Go back to the schedule</a
        >
      </main>
    </div>
  </body>
</html>
