<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Include external resources like css -->
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
    <title>Home Page</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <nav class="bg-blue-600 p-4 shadow-md">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-2xl font-bold">Timduel</div>

        <ul class="flex space-x-6 text-white text-lg">
          <li><a href="/mlb" class="hover:underline">MLB</a></li>
          <li><a href="/nba" class="hover:underline">NBA</a></li>
          <li><a href="/nfl" class="hover:underline">NFL</a></li>
        </ul>

        <div>
          <a
            href="https://discord.gg/CAANVsQ5"
            target="_blank"
            class="bg-white text-blue-600 py-2 px-4 rounded hover:bg-gray-200"
          >
            Join Discord
          </a>
        </div>
      </div>
    </nav>
    <h1>Welcome to the Sports Home Page</h1>
    <p>Here, you can explore MLB, NBA, NFL, and more!</p>

    <nav>
      <ul>
        <li><a href="/mlb">MLB</a></li>
        <li><a href="/nba">NBA</a></li>
        <li><a href="/nfl">NFL</a></li>
        <!-- Add more sports links here -->
      </ul>
    </nav>
  </body>
</html>
